:root {
  --primary-color: rgba(0, 0, 0, 0);
  --secondary-color: rgb(255, 255, 255);
  --accent1-color: rgb(138, 43, 226);
  --accent-color: rgb(131, 42, 214);

  --heading-font: "Roboto", sans-serif;
  --text-font: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Centrar todo vertical y horizontalmente en la pantalla */
/* Fuente general y base */
body {
  font-family: var(--heading-font);
  background-color: #f9f9f9;
  color: #333;
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Header */
header {
  width:100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(86, 86, 153);
  padding: 1rem 15rem;
  border: 1px solid #000;
}

.logo img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* Navegación */
nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a.current {
  text-decoration: underline;
}

/* Main Content */
main {
  text-align: center;
  margin-top: 20px;
}

h1, h2 {
  margin: 20px 0;
}

.color-acento {
  color: blueviolet;
}

/* Mapa centrado */
.map {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

/* Empleados */
.employee-profile {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin: 30px 0;
}

.employee {
  text-align: center;
}

.employee img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

/* Formulario */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 10px;
  box-sizing: border-box;
}

form label,
form legend {
  align-self: flex-start;
  margin: 10px 0 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.radio-group {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-bottom: 15px;
}

.newsletter {
  margin-bottom: 20px;
  align-self: flex-start;
}

.submit-button {
  padding: 10px 20px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: indigo;
}

/* Footer */
footer {
  background-color: rgb(86, 86, 153);
  color: white;
  text-align: center;
  padding:  1.5rem 2rem;
  margin-top: 40px;
  font-size: 0.9em;
}