:root {
  --primary-color: rgba(0, 0, 0, 0);
  --secondary-color: rgb(255, 255, 255);
  --accent1-color: rgb(138, 43, 226);
  --accent-color: rgb(131, 42, 214);

  --heading-font: "Roboto", sans-serif;
  --text-font: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografía */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fdfdfd;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(86, 86, 153);
  padding: 1rem 30rem;
}

h1{
  color: #fff;
}
.logo {
  width: 100px;
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav a:hover {
  color: var(--accent-color);
}

/* Hero Section */
#hero {
  text-align: center;
  padding: 2rem;
  background-color: #fafafa;
}

#hero-img{
  max-width: 600px;
  margin: auto;
  border-radius: 5px;
}

#hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#hero p {
  max-width: 800px;
  margin: 0 auto;
}

/* Section Blocks */
section {
  padding: 2rem;
  border-top: 1px solid #ddd;
}

section h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

/* History Section */
#history {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#history img {
  width: 400px;
  height: auto;
  border-radius: 5px;
}

/* Gallery Section */
#gallery {
  text-align: center;
}

#gallery .gallery-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-item img {
  width: 150px;
  height: 188px;
  border-radius: 5px;
}

.gallery-item caption {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

/* Footer */
footer {
  background-color: rgb(86, 86, 153);
  padding: 1.5rem 2rem;
  text-align: center;
}

footer p {
  margin-bottom: 1rem;
  color: #fff;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-icons img {
  width: 30px;
  height: auto;
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: scale(1.1);
}